@import "https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic%7CNoto+Serif:400,400italic,700,700italic%7CDroid+Sans+Mono:400,700";
@import "https://cdn.jsdelivr.net/gh/asciidoctor/asciidoctor@2.0/data/stylesheets/asciidoctor-default.css";
@import "https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap";

%el {
	font-family: "Noto Sans", sans-serif !important;
}

%mono {
	font-family: "Fira Code", monospace !important;
	font-variant-ligatures: contextual !important;
}

body {
	%header,
	.title {
		@extend %el;
	}

	@for $i from 1 through 6 {
		h#{$i} {
			@extend %header;
		}
	}

	code,
	#footer-text {
		@extend %mono;
	}
}